@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-tap-highlight-color: transparent;
    @apply overflow-x-hidden select-none
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        @apply h-1 w-1
    }

    .scrollbar-red::-webkit-scrollbar-track {
        @apply bg-red-300 rounded-sm border
    }

    .scrollbar-red::-webkit-scrollbar-thumb {
        @apply bg-red-400 rounded-sm
    }

    .scrollbar-gray::-webkit-scrollbar-track {
        @apply bg-gray-400 rounded-sm border
    }

    .scrollbar-gray::-webkit-scrollbar-thumb {
        @apply bg-gray-500 rounded-sm
    }

    .scrollbar-hidden::-webkit-scrollbar {
        @apply hidden
    }
      
    /* .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none;
    } */
}